<div class="summer-site-head-content {{#if @blog.cover}}with-bg-cover{{/if}}">
    <h1 class="summer-blog-title">
        <span class="summer-site-head-title-bg">
            {{@blog.title}}
        </span>
    </h1>
    <h2 class="summer-blog-description">{{@blog.description}}</h2>
</div>