<footer class="summer-site-footer {{#if @blog.cover}}with-bg-cover{{/if}}">
    <div class="copyright">
         <section>Contenido copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; Reservados todos los derechos.</section>
         <section>Diseñado por <a class="icon-ghost" href="http://lausilva.com">Lauro Silva.</a></section>
    </div>
    <div class="social-icons">
        {{! add your urls ; more icons : http://fontawesome.io/icons/ }}
        {{! feed }}
        {{! twitter }}
        <a href="https://twitter.com/BrenZamb">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
        </a>
        {{! google plus }}
        <a href="#">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-google-plus fa-stack-1x"></i>
            </span>
        </a>
        {{! behance }}
        <a href="#">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-behance fa-stack-1x"></i>
            </span>
        </a>
        {{! facebook }}
        <a href="https://www.facebook.com/pages/Brenda-Zambrano/822303587832015">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
        </a>
    </div>
    {{! more icons : http://fontawesome.io/icons/ }}
    <div class="cf"></div>
</footer>