{{#if @blog.logo}}<a class="summer-blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
{{! if you want title with link to homepage just uncomment span title below }}
{{!-- <span class="title">
    <a href="{{@blog.url}}">{{@blog.title}}</a>
</span> --}}