<div class="summer-blog-menu">      
    <div class="summer-mobile-menu show-for-small">
        <a href="#"><i class="fa fa-bars"></i></a>
    </div>
    <ul class="summer-menu">
        <li class="summer-mobile-close-btn show-for-small text-right">
            <a href="#"><i class="fa fa-times"></i></a>
        </li>
        <li>
            <a href="/" class="active">BLOG</a>
        </li>
        <li>
            <a href="/acerca">ACERCA</a>
        </li>
        <li>
            <a href="/tv">TV LIVE</a>
        </li>
    </ul>
</div>
 <div class="clearfix"></div>