<div class="summer-blog-menu">      
    <div class="summer-mobile-menu show-for-small">
        <a href="#"><i class="fa fa-bars"></i></a>
    </div>
    <ul class="summer-menu">
        <li class="summer-mobile-close-btn show-for-small text-right">
            <a href="#"><i class="fa fa-times"></i></a>
        </li>
        <li>
            <a href="http://summer.pxt.be" class="active">Blog</a>
        </li>
        <li>
            <a href="/about-our-blog">About</a>
        </li>
        <li>
            <a href="/contact-with-us">Contact</a>
        </li>
    </ul>
</div>
 <div class="clearfix"></div>