@import "settings";

.post-template {
    // --------------------------
    // Sliced
    // based on http://tympanus.net/Development/ArticleIntroEffects/index3.html
    // --------------------------

    @mixin intro-effect-sliced-transition-timing {
        -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }
    @mixin intro-effect-sliced-transition-timing2 {
        -webkit-transition-timing-function: ease;
        transition-timing-function: ease;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-delay: 0.4s;
        transition-delay: 0.4s;
    }

    .intro-effect-sliced {
        overflow-x: hidden;
        .bg-img {
            &:first-child {
                bottom: 50%;
            }
            &:last-child {
                top: 50%;
                position: fixed;
                z-index: 900;
                img {
                    top: -100%;
                }
            }
        }
        .#{$theme-prefix}-post-title {
            -webkit-transform: translateX(-50%) translateY(-50%) scale(0.7);
            transform: translateX(-50%) translateY(-50%) scale(0.7);
        }
        .#{$theme-prefix}-post-header {
            p {
                opacity: 0;
                color: color(main-dark);
            }
        }
        .#{$theme-prefix}-post-menu-header {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
        }
        &.modify {
            .bg-img {
                &:first-child {
                    -webkit-transform: translateY(-100%);
                    transform: translateY(-100%);
                }
                &:last-child {
                    -webkit-transform: translateY(100%);
                    transform: translateY(100%);
                }
            }
            .#{$theme-prefix}-post-title {
                -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
                transform: translateX(-50%) translateY(-50%) scale(1);
            }
            .#{$theme-prefix}-post-header {
                p {
                    opacity: 1;
                }
                h1 {
                    color: color(main-dark);
                }
            }
            &:not(.notrans) {
                .#{$theme-prefix}-post-title,
                .#{$theme-prefix}-post-header h1,
                .#{$theme-prefix}-post-header p,
                .#{$theme-prefix}-post-content > div {
                    @include intro-effect-sliced-transition-timing2;
                }
                .#{$theme-prefix}-post-title {
                    -webkit-transition-delay: 0.3s;
                    transition-delay: 0.3s;
                }
            }
            .#{$theme-prefix}-post-menu-header {
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
            .#{$theme-prefix}-post-content {
                > div {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    opacity: 1;
                }
            }
            & + .#{$theme-prefix}-post-content {
                margin: 0 auto;
                padding: 0;
                > div:not(.#{$theme-prefix}-post-title) {
                    -webkit-transition: margin .4s;
                    transition: margin .4s;
                    -webkit-transition-delay: .6s;
                    transition-delay: .6s;
                    margin: 0 auto;
                    margin-top: -30%;
                    // padding-left: rem-calc(30);
                    // padding-right: rem-calc(30);
                    @media only screen and (min-width: 30em) {
                        margin-top: -20%;
                    }
                    @media only screen and (min-width: 48em) {
                        margin-top: -15%;
                    }
                    @media only screen and (min-width: 72em) {
                        margin-top: -10%;
                    }
                    @media only screen and (min-width: 48em) and (min-height: 54em) {
                        margin-top: -15%
                    }
                    @media only screen and (min-width: 90em) {
                        margin-top: -12%;
                    }
                }
            }
        }
        &:not(.notrans) {
            .bg-img, .#{$theme-prefix}-post-title {
                -webkit-transition-property: -webkit-transform;
                transition-property: transform;
                @include intro-effect-sliced-transition-timing;
            }
            .#{$theme-prefix}-post-header {
                h1 {
                    -webkit-transition-property: color;
                    transition-property: color;
                    @include intro-effect-sliced-transition-timing;
                }
                p {
                    -webkit-transition-property: opacity;
                    transition-property: opacity;
                    @include intro-effect-sliced-transition-timing;
                }
            }
            .#{$theme-prefix}-post-content {
                > div {
                    -webkit-transition-property: -webkit-transform, opacity;
                    transition-property: transform, opacity;
                    @include intro-effect-sliced-transition-timing;
                }
            }
        }
        .#{$theme-prefix}-post-menu-header {
            -webkit-transition-property: -webkit-transform;
            transition-property: transform;
            -webkit-transition-duration: .7s;
            transition-duration: .7s;
        }
    }

    // --------------------------
    // Faded gradient  (default)
    // based on http://tympanus.net/Development/ArticleIntroEffects/index2.html
    // --------------------------

    @mixin intro-effect-fadeout-duration {
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }

    .intro-effect-fadeout {
        .#{$theme-prefix}-post-header {
            overflow: hidden;
            p {
                color: color(main-dark);
                opacity: 0;
                &:nth-child(2) {
                    -webkit-transform: translateX(150px);
                    transform: translateX(150px);
                }
            }
        }
        .bg-img {
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 102%;
                top: 0;
                left: 0;
                opacity: 0;
                pointer-events: none;
                background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
                background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            }
        }
        .#{$theme-prefix}-post-menu-header {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
            &.transparent {
                background-color: transparent;
            }
        }
        .#{$theme-prefix}-post-content {
            position: relative;
            > div {
                opacity: 0;
                -webkit-transform: translateY(350px);
                transform: translateY(350px);
            }
        }
        &.modify {
            .bg-img {
                -webkit-transform: translateY(-35%);
                transform: translateY(-35%);
                &::after {
                    opacity: 1;
                }
            }
            .#{$theme-prefix}-post-header {
                h1 {
                    color: color(main-dark);
                }
                p {
                    &:nth-child(2) {
                        opacity: 1;
                        -webkit-transform: translateX(0);
                        transform: translateX(0);
                    }
                }
            }
            .#{$theme-prefix}-post-menu-header {
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
            .#{$theme-prefix}-post-content {
                > div {
                    opacity: 1;
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                } 
            }
            & + .#{$theme-prefix}-post-content {
                margin: 0 auto;
                padding: 0;
                > div:not(.#{$theme-prefix}-post-title) {
                    -webkit-transition: margin .4s;
                    transition: margin .4s;
                    -webkit-transition-delay: .3s;
                    transition-delay: .3s;
                    margin: 0 auto;
                    margin-top: -40%;
                    // padding-left: rem-calc(30);
                    // padding-right: rem-calc(30);
                    @media only screen and (min-width: 30em) {
                        margin-top: -20%;
                    }
                    @media only screen and (min-width: 48em) {
                        margin-top: -15%;
                    }
                    @media only screen and (min-width: 72em) {
                        margin-top: -10%;
                    }
                    @media only screen and (min-width: 48em) and (min-height: 54em) {
                        margin-top: -15%
                    }
                    @media only screen and (min-width: 90em) {
                        margin-top: -12%;
                    }
                }
            }
        }
        &:not(.notrans) {
            .bg-img {
                -webkit-transition-property: -webkit-transform;
                transition-property: transform;
                @include intro-effect-fadeout-duration;
                &::after {
                    -webkit-transition-property: opacity;
                    transition-property: opacity;
                    @include intro-effect-fadeout-duration;
                }
            }
            .#{$theme-prefix}-post-header {
                p {
                    -webkit-transition-property: -webkit-transform, opacity;
                    transition-property: transform, opacity;
                    @include intro-effect-fadeout-duration;
                }
                h1 {
                    -webkit-transition-property: color;
                    transition-property: color;
                    @include intro-effect-fadeout-duration;
                }
            }
            .#{$theme-prefix}-post-content {
                > div {
                    -webkit-transition-property: -webkit-transform, opacity;
                    transition-property: transform, opacity;
                    @include intro-effect-fadeout-duration;
                }
            }
        }
        .#{$theme-prefix}-post-menu-header {
            -webkit-transition-property: -webkit-transform;
            transition-property: transform;
            -webkit-transition-duration: .7s;
            transition-duration: .7s;
        }
    }

    // --------------------------
    // Push
    // based on http://tympanus.net/Development/ArticleIntroEffects/index.html
    // --------------------------

    @mixin intro-effect-push-transition {
        -webkit-transition-property: opacity, -webkit-transform;
        transition-property: opacity, transform;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
    }

    .intro-effect-push {
        position: relative;
        overflow-x: hidden;
        .#{$theme-prefix}-post-header {
            position: absolute;
            z-index: 1500;
        }
        > .#{$theme-prefix}-post-title {
            position: absolute;
            top: 50%;
            left: auto;
            right: auto;
            bottom: auto;
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
            opacity: 0;
        }
        .#{$theme-prefix}-post-menu-header {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
        }
        &.modify {
            > .#{$theme-prefix}-post-title {
                -webkit-transform: translateY(-40%);
                transform: translateY(-40%);
                opacity: 1;
            }
            .#{$theme-prefix}-post-menu-header {
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
            .#{$theme-prefix}-post-content {
                > div {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    opacity: 1;
                }
            }
            .#{$theme-prefix}-post-header {
                opacity: 0;
                -webkit-transform: translateY(-100%) scale(0.9);
                transform: translateY(-100%) scale(0.9);
            }
            &:not(.notrans) {
                > .#{$theme-prefix}-post-title {
                    -webkit-transition-delay: 0.5s;
                    transition-delay: 0.5s;
                }
                .#{$theme-prefix}-post-content {
                    > div {
                        -webkit-transition-delay: 0.6s;
                        transition-delay: 0.6s;
                    }
                }
            }
            & + .#{$theme-prefix}-post-content {
                margin: 0 auto;
                padding: 0;
                > div:not(.#{$theme-prefix}-post-title) {
                    -webkit-transition: margin .5s;
                    transition: margin .5s;
                    -webkit-transition-delay: 1.3s;
                    transition-delay: 1.3s;
                    margin: 0 auto;
                    margin-top: -30%;
                    // padding-left: rem-calc(30);
                    // padding-right: rem-calc(30);
                    @media only screen and (min-width: 30em) {
                        margin-top: -20%;
                    }
                    @media only screen and (min-width: 48em) {
                        margin-top: -15%;
                    }
                    @media only screen and (min-width: 72em) {
                        margin-top: -10%;
                    }
                    @media only screen and (min-width: 48em) and (min-height: 54em) {
                        margin-top: -15%
                    }
                    @media only screen and (min-width: 90em) {
                        margin-top: -12%;
                    }
                }
            }
        }
        &:not(.notrans) {
            .#{$theme-prefix}-post-header {
                @include intro-effect-push-transition;
                -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
                transition-timing-function: cubic-bezier(0.7,0,0.3,1);
                -webkit-transition-duration: 1.2s;
                transition-duration: 1.2s;
            }
            .#{$theme-prefix}-post-menu-header {
               -webkit-transition-property: -webkit-transform;
                transition-property: transform;
                -webkit-transition-duration: .7s;
                transition-duration: .7s;
            }
            > .#{$theme-prefix}-post-title {
                @include intro-effect-push-transition;
            }
            .#{$theme-prefix}-post-content {
                > div {
                    @include intro-effect-push-transition;
                }
            }
        }
    }
}